#head{
    color: #000000;

    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    height: 50px;
    font-size: 25px;
    width: 100%;
    padding-top: 10px;
    height: 45px;
}
#body,#last{

    width: 100%;
    height: 50%;
    text-align: center;
}
img,a{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
#foot{

    width: 100%;
    height: 50%;
    text-align: center;
}
input{
    font-size: large;
    width: 50%!important;
}
#sub{
    width: 150px;
    margin-top: 10px;
}
.line{
    background: #FFFFFF;
}