<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Course_do</display-name>
  <servlet>
    <servlet-name>Course_do_login</servlet-name>
    <servlet-class>com.servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_login</servlet-name>
    <url-pattern>/login_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_regist</servlet-name>
    <servlet-class>com.servlet.regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_regist</servlet-name>
    <url-pattern>/regist_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_application</servlet-name>
    <servlet-class>com.servlet.application</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_application</servlet-name>
    <url-pattern>/application_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_docourse</servlet-name>
    <servlet-class>com.servlet.docourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_docourse</servlet-name>
    <url-pattern>/docourse_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_deletedocourse</servlet-name>
    <servlet-class>com.servlet.deletedocourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_deletedocourse</servlet-name>
    <url-pattern>/deletedocourse_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_addroom</servlet-name>
    <servlet-class>com.servlet.addroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_addroom</servlet-name>
    <url-pattern>/addroom_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_deleteroom</servlet-name>
    <servlet-class>com.servlet.deleteroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_deleteroom</servlet-name>
    <url-pattern>/deleteroom_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_alterroom</servlet-name>
    <servlet-class>com.servlet.alterroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_alterroom</servlet-name>
    <url-pattern>/alterroom_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_deleteteacher</servlet-name>
    <servlet-class>com.servlet.deleteteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_deleteteacher</servlet-name>
    <url-pattern>/deleteteacher_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_deleteclass</servlet-name>
    <servlet-class>com.servlet.deleteclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_deleteclass</servlet-name>
    <url-pattern>/deleteclass_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_alterclass</servlet-name>
    <servlet-class>com.servlet.alterclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_alterclass</servlet-name>
    <url-pattern>/alterclass_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_addclass</servlet-name>
    <servlet-class>com.servlet.addclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_addclass</servlet-name>
    <url-pattern>/addclass_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_deletecourse</servlet-name>
    <servlet-class>com.servlet.deletecourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_deletecourse</servlet-name>
    <url-pattern>/deletecourse_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_addcourse</servlet-name>
    <servlet-class>com.servlet.addcourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_addcourse</servlet-name>
    <url-pattern>/addcourse_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_do_altercourse</servlet-name>
    <servlet-class>com.servlet.altercourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_do_altercourse</servlet-name>
    <url-pattern>/altercourse_</url-pattern>
  </servlet-mapping>
</web-app>